.container {
}

.headerColumns {
  display: grid;
  grid-template-columns: 3rem repeat(30, 8rem);
  height: 23px;
}

.content {
  display: grid;
  grid-template-columns: 3rem repeat(30, 8rem);
  grid-template-rows: repeat(100, 23px);
}

.emptyCell {
  background-color: #f8f9fa;
  border: 0.5px solid #c0c0c0;
}

.headerColumn,
.headerRow {
  height: 23px;
  background-color: #f8f9fa;
  border: 0.5px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #62666b;
  font-weight: 600;
  font-size: 12px;
}

// selected column and row #e8eaed
